faiss-cpu==1.11.0
Flask==3.1.1
Flask-SQLAlchemy==3.1.1
PyPDF2==3.0.1
numpy==2.2.5
sentence-transformers==4.1.0
SQLAlchemy==2.0.41
torch==2.7.0
together==1.5.8
tqdm==4.67.1
transformers==4.51.3
Werkzeug==3.1.3
